@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Roboto&family=STIX+Two+Text&display=swap');

:root {
    --font: 'Roboto'
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 360px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='username'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: #fff;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #2edab7;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

      .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
.menubar{
  width: 85%;
  margin: auto;
  padding: 11px 0;
   display: flex;
   align-items:center;
    justify-content: space-between; }
.menubar .logo
{ width:100px;
  cursor:pointer;}
.menubar ul li{
         list-style: none;
          display: inline-block;
           margin: 0 20px;
            position: relative;}
.menubar ul li a {
       text-decoration: none;
      color: white;
     text-transform: uppercase;
     }
 .menubar ul li::after{
  content:'';
  height: 3px;
  width: 0;
   background: #009688;
    position: absolute;
    left: 0;
    bottom: 2px;
     transition: 0.3s;
  }
  .menubar ul li:hover::after{
     width: 100%;
    }
 .menubar ul li a:hover {
   background-color:rgb(43, 38, 58);
   border-radius:5px;
  }
  .submenu{
     display: none;
     position: absolute;
     left: 0;
     top: 100%;
  }
  .submenu ul li{
     display: list-item;
     margin:10px;

    }
   .menubar ul li:hover .submenu
    {
      display: block;
    }
  .content{
     width: 100%;
     position: absolute;
     top: 40%;
     font: bold;
     transform: translateY(-50%);
     text-align: center;
     color: #fff;
    }
    .content .par{
      padding-left: 50px;
      padding-bottom: 25px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      letter-spacing: 1.2px;
      line-height: 30px;
    }
    .content h1{
      font-size: 55px;
      font-weight: 600;
      padding-left: 20px;
      margin-top: 9%;
      letter-spacing: 2px;
      color: #3c2f21;}

  button{
     width:200px;
      padding:15px 0;
      text-align: center ;
      margin: 20px 10px ;
       border-radius: 7px;
        font-weight:bold ;
        border: 2px solid #070808;
        background: rgb(84, 76, 76);
        color: #fff;
        cursor: pointer;
      }
      .feather {
        width: 16px;
        height: 16px;
      }

      /*
       * Sidebar
       */

      .sidebar {
        position: fixed;
        top: 0;
        /* rtl:raw:
        right: 0;
        */
        bottom: 0;
        /* rtl:remove */
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }

      @media (max-width: 767.98px) {
        .sidebar {
          top: 5rem;
        }
      }

      .sidebar-sticky {
        height: calc(100vh - 48px);
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }

      .sidebar .nav-link {
        font-weight: 500;
        color: #333;
      }

      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
      }

      .sidebar .nav-link.active {
        color: #2470dc;
      }

      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: inherit;
      }

      .sidebar-heading {
        font-size: .75rem;
      }

      /*
       * Navbar
       */

      .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      }

      .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
      }

      .navbar .form-control {
        padding: .75rem 1rem;
      }

      .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }

      .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      }
