    body{
        background-image: url(images/home_bg.jpg);
        background-size: cover;
        font-family: sans-serif;
      color:white;
    }
    .menubar{
  
      width: 85%;
      margin: auto;
      padding: 11px 0;
      display: flex;
      align-items:  center;
      justify-content: space-between;
  
  }
   .menubar .logo{
      width:100px;
      cursor:pointer;
    }
  .menubar ul li{
  
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
  }
  .menubar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .menubar ul li::after{
      content:'';
      height: 3px;
      width: 0;
      background: #009688;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
  
  }
  .menubar ul li:hover::after{
       width: 100%;
  }
  .menubar ul li a:hover
  {
  background-color:black;
  border-radius: 10px;
  
  
  }
  .submenu{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  
  }
  .submenu ul li{
    display: block;
    margin:10px; 
  }
  .menubar ul li:hover .submenu{
  display: block;
  }
  
  .scroll-bg{
  float : right;
  width=800px;
  margin: 10% auto;
  background: white;
  opacity: .8;
  padding: 10px;
  border-radius: 20px;
  
  
  
  }
  .scroll-div{
    width:700px;
    height:450px;
    overflow:hidden;
    overflow-y: scroll;
    
  }
  .scroll-object{
  color: rgb(16, 10, 10);
  font-family:sans-serif,cursive;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 5px;
  }
  