<!doctype html>
{% extends 'base.html' %}
{% block body %}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404" style="background-image: url({{ url_for('static', filename='img/bulb.png') }});"></div>
        <h1>404</h1>
        <h2>Oops! Page Not Found</h2>
        <p>Sorry, but the page you are looking for does not exist, has been moved/deleted or is temporarily unavailable.</p>
        <a class="w-50 btn btn-outline-primary" href="{{ url_for('home') }}" role="button">Back to Home Page</a>
    </div>
</div>
{% endblock %}
