<!DOCTYPE html>
<html>
<head>
  <title> Login form  </title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
  <div class="login-form">
    <h1>Employee Login</h1>
    <form action="#" method="post">
      <p>Username</p>
      <input type="text" name="user" placeholder="username">
    <p>password</p>
  <input type="password" name="password" placeholder="password">
  <button type="submit">Login</button>
    </form>             

  </div>
  </body>
  </html>
  