<!DOCTYPE html>
<html lang="en">
<head>
    <title>homepage   </title>
    <link rel="stylesheet" href="../static/homedesign.css">
</head>
<body>

    
            <div class="menubar">
                <img src="../static/images/logo.png" class="logo">
                <ul>
                    <li><a href="#"><b><i>HOME</i></b></a></li>
                    <li><a href="#"><b><i>ABOUT</i></b></a></li>
                    <li><a href="#"><b><i>SERVICE</i></b></a></li>
                    <li> <a href="#"><b><i> LOGINS</i></b></a>
                       <div class="submenu">
                           <ul>
                              <li><a href='login.html'><b><i>USER </i></b></a></li>
                             <li> <a href='employee.html'><b><i>EMPLOYEE</i></b></a></li>
                           </li>
                          </ul>             
                         </div>        
                  </ul>
             </div>

          <div class="scroll-bg">
            <div class="scroll-div">
                <div class="scroll-object">
                  <b><i>  The National Electricity Policy aims at achieving the following objectives:
                 <ol>
              <li>   Access to Electricity - Available for all households in next five years</li>
                <li>     Availability of Power - Demand to be fully met by 2012. Energy and peaking shortages to be overcome and adequate spinning reserve to be available.</li>
                    <li>    Supply of Reliable and Quality Power of specified standards in an efficient manner and at reasonable rates.</li>
                        <li>    Per capita availability of electricity to be increased to over 1000 units by 2012.</li>
                            <li>    Minimum lifeline consumption of 1 unit/household/day as a merit good by year 2012.</li>
                                <li>   Financial Turnaround and Commercial Viability of Electricity Sector.</li>
                                    <li>   Protection of consumers’ interests.</li>
                   </ol>

                  
        <p>ISSUES ADDRESSED ARE </p>

             The policy seeks to address the following issues:
        <ul>

               <li>Rural Electrification</li>
                      <li>Generation</li>
                             <li>Transmission</li>
                                  <li>Distribution</li>
                                      <li>Recovery of Cost of services & Targetted Subsidies.</li>
                                            <li>Technology Development and Research and Development (R&D)</li>
                                                <li>Competition aimed at Consumer Benefits</li>
                                                    <li>Financing Power Sector Programmes Including Private Sector Participation.</li>
                                                        <li>Energy Conservation</li>
                                                            <li>Environmental Issues</li>
                                                               <li>Training and Human Resource Development</li>
                                                                   <li>Cogeneration and Non-Conventional Energy Sources</li>
                                                                   <li>Protection of Consumer interests and Quality Standards</li>
        </ul>
   </i></b>
                </div>
            </div>
          </div>   
             
</body>
</html>
