<!doctype html>
{% extends 'base.html' %}
{% block body %}

<style>
    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:#a1caf1 ;
      /*#08BCBE*/
    }
</style>

<main class="form-signin w-100 m-auto">
  <form method='POST' action='/login'>
      <img class="mb-4" src="{{ url_for('static', filename='img/useravatar.png') }}" alt="" width="80" height="70">
    <h1 class="h3 mb-3 fw-normal"><B>User Login</B></h1>

    <div class="form-floating">
      <input type="username" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"><i>Username</i></label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword"><i>Password</i></label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login">
    <p class="mt-5 mb-3 text-muted">&copy; 2022-2024</p>
  </form>
</main>

{% endblock %}
