<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <p></p>

    <ul class="nav flex-column mb-4">
      <li class="nav-item">
        <button type="button" class=" w-100 btn btn-light text-dark me-2">Home</button>
      </li>

      <li class="nav-item">
        <button type="button" class=" w-100 btn btn-light text-dark me-2">Payment</button>
      </li>

      <li class="nav-item">
        <button type="button" class=" w-100 btn btn-light text-dark me-2">Profile</button>
      </li>

      <li class="nav-item">
        <button type="button" class=" w-100 btn btn-light text-dark me-2">Bill record </button>
      </li>
    </ul>
  </div>
</nav>
