<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <p></p>

    <ul class="nav flex-column mb-4">
      <li class="nav-item">
        <a href="{{ url_for('dashboard') }}" type="button" class=" w-100 btn btn-light text-dark me-2">Home</a>
      </li>

      <li class="nav-item">
        <a type="button" class=" w-100 btn btn-light text-dark me-2">Payment</a>
      </li>

      <li class="nav-item">
        <a type="button" class=" w-100 btn btn-light text-dark me-2">Profile</a>
      </li>

      <li class="nav-item">
        <a href="{{ url_for('show_payments') }}" type="button" class=" w-100 btn btn-light text-dark me-2">Bill record</a>
      </li>
    </ul>
  </div>
</nav>
